.asteriskField {
        display: none;
}

.top_margin{
    margin-top: 2px;
}

.input_padding{
    padding-left: 10px;
}

.profile_pic {
    border-radius: 50%;
}

pre { 
    white-space: pre-wrap; 
    word-break: break-word;
}