{% extends 'blog_app/base.html' %}

{% block title %} {{ user.username }}'s Profile {% endblock %}

{% load static %}
{% block content %}

    <div class="col-md-12">
        <div class="card">
            <div class="card-body"> 
                <div class="text-center">
                    <h2>{{ user.username }}</h2>
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <img src="{{ profile.profile_pic.url }}" width="300px" height="300px" style="border-radius: 50%;" />
                    </div>
                    <div class="col">
                        <h4>{{ profile.full_name }}</h4>
                        <i class="fa fa-envelope" style="font-size:18px; color: grey; font-style: italic;"> {{ profile.email }}</i>
                        <i class="fa fa-map-marker mx-3" style="font-size:18px; color: grey; font-style: italic;"> {{ profile.location }}</i>
                        <hr>
                {% if user.profile.location is not None or profile.bio is not None %}
                        
                        <i style="font-size:15px; color: grey">Bio</i>
                        <br>
                        <i style="font-size:18px;">"{{ profile.bio }}"</br>
                        <i style="font-size:15px; color: grey; font-style: italic;">Joined: {{ profile.date_joined|date:"M d, Y" }}</i>
                </div>
                {% endif %}
                    </div>
                </div>
            <div class="p-3">
                {% if is_authorized %}
                <form action="{% url 'update_profile' profile.id %}">
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-primary">Update Profile</button> 
                    </div>
                </form>
                {% endif %}
                <form action="{% url 'author_posts' user.username %}">
                <div class="d-grid gap-2 mt-1">
                    <button class="btn btn-outline-success">Blogs by {{ user.username }} : {{ posts_count }}</button> 
                </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}