{% extends 'blog_app/base.html' %}

{% block title %} {{ user.username }}'s Profile {% endblock %}

{% load static %}
{% block content %}

    <div class="col-md-12">         
        <div class="text-center">
            <h2>{{ user.username }}</h2>
            <hr>
        </div>
        <div class="row mt-2">
            <div class="col text-center">
                <img class="image-style" src="{{ profile.profile_pic.url }}" width="350px" height="350px"/>            
            </div>
            <div class="col">
                <div class="text-center mt-2">
                    <h4>{{ profile.full_name }}</h4>
                    <p class="fa fa-envelope author-info"> {{ profile.email }}</>
                    <p class="fa fa-map-marker mx-3 author-info"> {{ profile.location }}</>
                </div>
                <hr>
            <p class="published-date">Bio</h>
            <br>
            <i style="font-size:18px;">"{{ profile.bio }}"</i></br>
            <p class="published-date">Joined: {{ profile.date_joined|date:"M d, Y" }}</p>
        </div>
        </div>
        <div class="row mt-2">

            {% if is_authorized %}
            
            <div class="col">
                <a href="{% url 'update_profile' profile.id %}">
                    <button class="btn btn-outline-primary col-md-12">Update Profile</button> 
                </a>
            </div>

            {% endif %}

            <div class="col">
                <a href="{% url 'author_blogs' user.username %}">
                    <button class="btn btn-outline-success col-md-12">Blogs by {{ user.username }} : {{ posts_count }}</button> 
                </a>
            </div>
        </div>
    </div>

{% endblock %}