{% extends 'blog_app/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title offset-md-3">
                        <img class="profile_pic" height="225px" width="225px" src="{{ user.profile.image.url }}"> 
                        <h4 class="col-md-12 offset-md-2">{{ user.username }}</h4> 
                    </div>
                </div>
                <div class="card-body"> 
                        <h6><img src="{% static 'id-card.png' %}" height="25px" width="25px"> {{ user.first_name }}</h6>
                        <h6><img src="{% static 'gmail.jpg' %}" height="30px" width="30px"> {{ user.email }}</h6>
                {% if user.profile.location is not None or profile.bio is not None %}
                        <h6><img src="{% static 'location.jpg' %}" height="25px" width="25px"> {{ user.profile.location }}</h6>
                        <h6><img src="{% static 'bio.png' %}" height="25px" width="25px"> {{ user.profile.bio }}</h6>
                </div>
                {% endif %}
           </div>
           <form action="{% url 'author_posts' user.username %}">
            <div class="d-grid gap-2">
                <button class="btn btn-dark">Blogs by {{ user.username }} : {{ posts_count }}</button> 
            </div>
            </form>
      </div>
 </div>
</div>
{% endblock %}