{% extends 'blog_app/base.html' %}

{% block title %} Delete Blog {% endblock %}

{% block content %}

        <div class="col-md-4 offset-md-4">
            <div class="card">
                <form method="post">
                    {% csrf_token %}
                <div class="card-header text-white bg-dark">
                    <div class="card-title">
                        <h3>Delete {{ post.title }}?</h3>
                    </div>
                </div>
                <div class="card-body">       
                    <div class="d-grid gap-2">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </div> 
                    <form action="{% url 'my_posts' %}">
                        <div class="d-grid gap-2 top_margin">
                            <button class="btn btn-primary">Cancel</button>
                        </div>
                    </form>
                </div>
                </form>
            </div>
        </div>

{% endblock %}
