{% extends 'blog_app/base.html' %}
{% load crispy_forms_tags %}
{% crispy comment_form comment_form.helper %}

{% block title %} Edit Profile {% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title text-center">
                    <h3>{{ profile.user }}</h3>
                </div>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{ form.full_name|as_crispy_field }}
                        <br>
                        {{ form.email|as_crispy_field }}
                        <br>
                        {{ form.bio|as_crispy_field }}
                        <br>
                        {{ form.location|as_crispy_field }}
                        <br>
                    <div class="d-grid gap-2 top_margin">
                        <button class="btn btn-primary" type="submit">Update Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

