{% extends 'blog_app/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card"> 
                <div class="card-header text-white bg-dark">
                    <div class="card-title offset-md-2">
                        <h3>You have been logged out</h3>
                    </div>
                </div>
                <div class="card-body">      
                        <form action="{% url 'login' %}">
                            <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">Login</button>
                            </div> 
                        </form>   
                        <form action="{% url 'signup' %}">
                            <div class="d-grid gap-2 top_margin">
                            <button class="btn btn-success" type="submit">Signup</button>
                            </div> 
                        </form>   
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}