{% extends 'blog_app/base.html' %}

{% block content %} 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">   
                    <div class="card-header">
                        <div class="card-title">
                           <h4>{{ post.title }}</h4>
                        </div>
                    </div>
                    <div class="card-body">        
                           {{ post.content }}
                    </div>
                    <div>                    
                    <a href="{% url 'delete_post' post.id %}"><button class="btn btn-danger col-md-6">Delete</button></a>
                    <a href="{% url 'edit_post' post.id %}"><button style="float: right;" class="btn btn-primary col-md-6">Edit</button></a>
                    </div>
                    <br>
                    <h6>Published at {{ post.created_at }}</h6>
                    <h6>Last Modified at {{ post.updated_at }}</h6>
                </div>
            </div>
        </div>
   </div> 
{% endblock %}
