{% extends 'blog_app/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    {% if messages %}
                    {% for message in messages %}
                        <div id="message_container" class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                    <div class="card-header text-white bg-dark">
                        <div class="card-title">
                            Title
                        </div>
                    </div>
                    <div class="card-body">        
                            {{ post.title }}
                    </div>
                    <div class="card-header text-white bg-dark">
                        <div class="card-title">
                            Content
                        </div>
                    </div>
                    <div class="card-body">        
                            {{ post.content }}   
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Post</button> 
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
