{% extends 'blog_app/base.html' %}

{% block content %}
    <div>
        <form method="post">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% csrf_token %}
            <h2>Title</h2>
            {{ post.title }}
            <br>
            <h2>Content</h2>
            {{ post.content }}
            <br>
            
            <button type="submit">Post</button>
        </form>
    </div> 
{% endblock %}
