{% extends 'blog_app/base.html' %}

{% block content %}  
{% if messages %}
    {% for message in messages %}
    <div id="message_container" class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}  
    {% for post in posts %}    
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card  top_margin">
                        <div class="card-header">
                            <div class="card-title">
                                <h5>{{ post.title }}</h5>
                            </div>
                        </div>
                        <div class="card-body">        
                                <a href="{% url 'read_post' post.id %}"><button class="btn btn-primary">Read blog</button></a>
                                
                                <h6 style="float: right;">{{ post.created_at }}</h6>
                                <br>
                                <a href="{% url 'author' post.author.username %}"><h6 style="float: right;">By {{ post.author }}</h6></a>                        
                        </div>
                    </div>
                </div>
            </div>
    </div>
    {% endfor %}

{% endblock %}