{% extends 'blog_app/base.html' %}
{% load static %}

{% block title %} Sign up {% endblock %}

{% block content %}

        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title col-md-9 offset-md-3">
                        <!-- <img class="profile_pic" height="200px" width="200px" src="{{ user.profile.image.url }}">  -->
                        <h4 class="col-md-12 offset-md-2">{{ user.username }}</h4> 
                    </div>
                </div>
                <div class="card-body"> 
                        <h6><img src="{% static 'id-card.png' %}" height="25px" width="25px"> {{ user.first_name }}</h6>
                        <h6><img src="{% static 'gmail.jpg' %}" height="30px" width="25px"> {{ user.email }}</h6> 
                {% if user.profile.location is not None or profile.bio is not None %}
                        <h6><img src="{% static 'location.jpg' %}" height="25px" width="25px"> {{ user.profile.location }}</h6>
                        <h6><img src="{% static 'bio.png' %}" height="25px" width="25px"> {{ user.profile.bio }}</h6>
                </div>
                {% endif %}
                </div>
                <form action="{% url 'edit_profile' profile.id %}">
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary">Add more info</button> 
                    </div>
                    </form>
                <form action="{% url 'my_posts' %}">
                    <div class="d-grid gap-2 top_margin">
                        <button class="btn btn-danger">My Blogs : {{ posts_count }}</button> 
                    </div>
               </form>
           </div>
      </div>

{% endblock %}