{% extends 'blog_app/base.html' %}
{% load crispy_forms_tags %}
{% crispy comment_form comment_form.helper %}

{% block title %} {{ blog.title}} {% endblock %}

{% block content %}

    <div class="col-md-12">      
    <div class="mb-3">
        <img src="{{ blog.author.profile.profile_pic.url }}" width="20px" height="20px" style="border-radius: 50%;" />
        <a class="mx-2" href="{% url 'author' blog.author.username %}"> {{ blog.author }}</a>
    </div>                    
        <h4>{{ blog.title }}</h4>    
        <p class="published-date">{{ blog.created_at|date:"M d, Y" }}</>
        <pre>{{ blog.content }}</pre>
        <br>
        <div>
            <a href="{% url 'like_blog' blog.slug %}">
                <i class="fa fa-heart mx-2" style="color:rgb(184, 10, 10)"> {{blog.likes}}</i>
            </a>
            <i class="fa fa-eye" style="color:rgb(54, 48, 48)"> {{blog.views}}</i>
        </div>
        {% if is_authorized %}
        <div class="row p-2"> 
            <div class="col">
                <a href="{% url 'update_blog' blog.slug %}">
                    <button class="btn btn-outline-primary col-md-12">Edit</button>
                </a>              
            </div>     
            <div class="col">
                <a href="{% url 'delete_blog' blog.slug %}">
                    <button class="btn btn-outline-danger col-md-12">Delete</button>
                </a>
            </div>
        </div>
        {% endif %}
        {% if comments %}
        <div class="my-3">
            <h4>{{ comments|length }}{% if comments|length == 1 %} Comment {% else %} Comments {% endif %}</h4>
        </div>
        {% for comment in comments %}
        <div class="profile_icon mb-1">
            <a href="{% url 'author' comment.user.username %}">
                <img src="{{ comment.user.profile.profile_pic.url }}" width="20px" height="20px" style="border-radius: 50%;" />
            </a>
            <a class="mx-2" href="{% url 'author' comment.user.username %}"> {{comment.user}}</a>
            <p class="published-date px-2">{{ comment.created_at|date:"M d, Y" }}</p>
        </div>
        <pre>{{comment.comment}}</pre>
        {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ comment_form.comment|as_crispy_field }}
            <div class="d-grid gap-2">
                <button class="btn btn-outline-primary" type="submit">Add Comment</button>
            </div>
        </form>
    </div>

{% endblock %}